#nav {
  background-color: white;
}

a:hover {
  text-decoration: none;
}

#logo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 45px 0;
  margin: 45px 0;
  background-image: url(../images/logo.PNG);
  width: 250px;
  transition: 1s;
}

#logo:hover {
  -webkit-animation: spin 1s linear;
  -moz-animation: spin 1s linear;
  animation: spin 1s linear;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#menu {
  padding-top: 65px;
}

.menu2 {
  list-style: none;
  font-size: 10px;
  font-size: 20px;
}

.menu2 li {
  display: inline-block;
  transition: 1s;
}

.menu2 li:hover {
  transform: scale(1.2);
}

.menu2 li a {
  color: #194A97;
  padding-right: 10px;
  transition: 1s;
}

.menu2 li a:hover {
  color: deepskyblue;
  cursor: pointer;
}

.btn {
  border: 2px solid #176FA1;
  transition: 1s;
}

.btn:hover {
  border: 2px solid #176FA1;
  background-color: #176FA1;
}

.btn:hover a {
  color: white;
}

.btn-group {
  margin-left: -20px;
}

#bayi {
  padding-top: 65px;
}

#car {
  width: 100%;
}

#sec2 {
  background-color: #E6E6E6;
  text-align: center;
}

#sec3 {
  text-align: center;
  color: #176FA1;
  font-size: 16px;
}

.par1 {
  font-size: 50px;
  padding-right: 30px;
}

.par2 {
  font-size: 25px;
  padding-right: 30px;
  padding-left: 150px;
}

.par3 {
  padding: 20px 150px;
}

.slicknav_menu {
  background-color: #194A97;
}

.nav2 {
  text-align: right;
}

#icon-sec {
  color: #194A97;
  padding-top: 40px;
}

.par4 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 40px;
}

.par5 {
  text-align: center;
  padding-bottom: 40px;
}

#footer {
  background-color: #E6E6E6;
  color: #194A97;
  font-weight: 500;
}

.item {
  margin-left: 0;
  padding-left: 0;
}

.item-group {
  display: block;
  margin: 0 auto;
}

.button {
  background-color: #194A97;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  display: block;
  margin: 0 30%;
  transition: 1s;
}

.item-group a {
  transition: 1s;
}

.item-group a:hover {
  transform: scale(1.2);
}

.button:hover {
  background-color: skyblue;
  border: none;
  color: #194A97;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  display: block;
  margin: 0 30%;
  transform: scale(1.1);
  border-radius: 50%;
}

#sec2 ul a {
  padding-right: 10px;
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: none;
}

.kutu {
  width: 100%;
  border: 1px solid lightgray;
  margin: 0;
}

.kutucuk {
  padding: 5px;
  transition: 1s;
}

.kutucuk:hover {
  transform: scale(1.05);
}

.kutu2 {
  width: 100%;
  height: 130px;
  border: 1px solid lightgray;
  border-top: 0px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #194A97;
  font-weight: 600;
}

.kutu img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.circle-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
  margin: 5px;
}

.circle-icon2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .cen {
    width: 100%;
  }

  .par2 {
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .par1 {
    font-size: 22px;
    padding-right: 5px;
  }

  .par3 {
    padding: 5px 5px;
  }
}
@media only screen and (max-width: 800px) {
  .nav1 {
    display: none;
  }

  .button {
    background-color: #194A97;
    border: none;
    width: 100px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    display: block;
    margin: 0 auto;
  }

  .par4 {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .par5 {
    padding-bottom: 5px;
  }

  #icon-sec {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .nav1 {
    display: none;
  }

  .nav2 {
    display: none;
  }

  #logo {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) {
  .slicknav_menu {
    display: none;
  }
}

/*# sourceMappingURL=style2.css.map */
