
$footer-bgcolor:#E6E6E6;
$main-color:#102969;
$btn-color:#176FA1;
$phone: "only screen and (max-width : 500px)";
$tablet: "only screen and (max-width : 800px)";


//------------------nav-------------------//

a:hover{
    text-decoration:none;
    -webkit-animation:color 1s linear;
    -moz-animation:color 1s linear;
    animation:color 1s linear;
}

#nav{
    background-color: rgba(138, 145, 166, 0.7);
    height: 100px;
    overflow: hidden;
    z-index: 5;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid black;
    #logo{
        display:flex;
        justify-content: center;
        align-content: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding:30px 0;
        margin: 25px 0;
        background-image: url(../images/logo.png);
        width: 100px;
        transition: 300ms;

        &:hover{
            transform: scale(1.2);
        }
        
    }
    @media #{$phone} {
        #logo{
             display: block;
             margin: 0 auto;
        }
    }
    
    #menu{
        padding-top: 27px;
        .menu2{
            list-style: none;         
            li{
                margin: 10px 0 ;
                padding: 0 10px;
                display: inline-block;
                a{
                    color: $main-color;
                    padding-right: 10px;
                    &:hover{
                        -webkit-transition:color 300ms linear;
                        -moz-transition:color 300ms linear;
                        transition:color 300ms linear;
                        color:#1EBA9C;
                        text-decoration:underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .phone{
        background: #000;
        color: white;
        border-radius: 100px;
        padding: 2px 20px 2px 20px;
        margin: 28px 0 0 20px;
        height: 30px;
        max-width: 185px;
    }
}

.phone2{
        display: none;
}


//----------------------row-1-----------------------//


.item{
    margin-left: 0;
    padding-left: 0;
}



.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    //width, height
    width:80px;
    height:80px;
      outline: none;

}

.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	border-radius: 0;
	text-align: center;
}


.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 400px;
}





//----------------------row-2-----------------------//

.container{
    p{
        a{
            color:#b63327;
            &:hover{
                -webkit-transition:color 500ms linear;
                -moz-transition:color 500ms linear;
                transition:color 500ms linear;
                color:#000;
            }
        }
    }
}


//----------------------row-3-----------------------//


.card{
    transition: 300ms;   
    width: 100%;
    border: 1px solid $main-color;
    outline: none;
    border-radius: 10px;
    &:hover{
    transform: scale(1.10);
    cursor: pointer;
    }
    img{
        height: 300px;
        width: 100%;
        border-radius: 10px;
    }
}

.up{
    margin-top: 150px;
}

.up2{
    margin-top: 120px;
}



//----------------------row-4-----------------------//



//----------------------footer-----------------------//


.slicknav_menu {
        background-color: $main-color;
}


@media only screen and (min-width: 960px) and (max-width: 1120px) {
    .phone{
        display: inline-flex;
        font-size: 13px;
        padding: 15px 0;
        justify-content: center;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1500px) {
    #menu{
        font-size:14px;
        padding-right: 5px;
    }
}


@media only screen and (min-width: 806px) and (max-width: 960px) {
    .phone{
        
    }
    
    .phone a{
        display: inline-flex;
        font-size: 13px;
        justify-content: center;
        align-content: center;
    }
    
    .phone i{
        display: inline-flex;
        justify-content: center;
        align-content: center;
    }
}



@media only screen and (max-width: 806px) {
    #nav{
        display: none;
    }
    
    .phone2{
        display:inline-block;
    }

    .up{
        margin-top: 20px;
    }
    .up2{
        margin-top: 20px;
    }
    
    .owl-carousel .owl-prev,
        .owl-carousel .owl-next {
            position: absolute;
            top: 260px;
            height: 30px;
            margin: auto !important;
        }
}

@media only screen and (max-width: 500px) {
    
    .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next,
      .owl-carousel .owl-dot {
        //width, height
        width:20px;
        height:20px;
          outline: none;

    }
    
    .owl-carousel .owl-prev,
        .owl-carousel .owl-next {
            position: absolute;
            top: 100px;
            height: 30px;
            margin: auto !important;
        }
    }

    .owl-carousel .owl-prev {
        float: left; 
        left: 20px;
    }

    .owl-carousel .owl-next {
        right: 20px;
    }


@media only screen and (min-width: 800px) {
    .slicknav_menu {
        display:none;
    }
}
